html {
    font-family: "Century Gothic";
    overflow-x: hidden;
    
    // ---- Hide scrollbar for Chrome, Safari and Opera ---- //
    &::-webkit-scrollbar {
        display: none;
    }
    // ---- IE and Edge ---- //
    -ms-overflow-style: none;  
    // ---- Firefox ---- //
    scrollbar-width: none;  
    
    body {
        scroll-behavior: smooth;
        overflow-x: hidden;
        background-color: #0F1A25;
    }
}