#gallery {
    text-align: center;
    position: relative;

    h1 {
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    
    #wineZoomContainer {
        z-index: 1000;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: fit-content;
        height: 100%;
        display: flex;

        &.hide {
            display: none;
        }
        
        #zoomedImgContainer {
            border: solid #333 2px;
            border-radius: 0.75rem;
            width: fit-content;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 4rem;
            
            img {
                object-fit: cover;
                box-sizing: border-box;
                display: block;
                width: 128px;
                height: 128px;
                
                @include respondTo(sm) {
                    width: 258px;
                    height: 258px;
                }
            }
        }
    }

    .defaultSections {
        border: solid #333 2px ;
        border-radius: 0.75rem;
        margin: 2rem;

        h2 {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin: 1rem 0;
            text-decoration: underline;
            color: #333;
        }
    }

    .carousel {
        position: relative;
        overflow: hidden;
        min-width: 300px;
        margin: 0 auto;

        .mainContainers {
            display: flex;
            transition: transform 0.5s ease;
    
            .containers {
                flex: 0 0 100%;
                text-align: center;

                .wineBottleIcons {
                    width: 64px;

                    @include respondTo(md) {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    
                    @include respondTo(sm) {
                        width: 128px;
                    }
                }

                .wineName {
                    margin: 1rem 0;
                    text-transform: uppercase;
                    color: #333;
                    
                    @include respondTo(sm) {
                        font-size: 1.25rem;
                    }
                }

                .description {
                    margin-bottom: 1rem;
                    color: #333;
                }
            }
        }
        
        .directionBtn  {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0.5rem;
            background-color: #333;
            color: white;
            border: solid 2px #333;
            border-radius: 0.5rem;
            margin: 0 0.5rem;


            @include respondTo(md) {
                &:hover {
                    cursor: pointer;
                    background-color: white;
                    color: #333;
                }
            }
        }
        
        .prevBtn {
            left: 0;
        }
        
        .nextBtn {
            right: 0;
        }
    }
}